[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"
repository = "https://github.com/rocket-lang/rocket"

[workspace.dependencies]
tree-sitter = "0.25"
tree-sitter-language = "0.1"
